.main {
  margin-left: 350px;
  max-width: 1200px;
}

.top {
  height: 80px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}
.bottom {
  padding: 25px 35px 35px 25px;
}
.main .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .header-text {
  font-size: 20px;
  font-weight: bold;
}
.main .header-sub-text {
  font-size: 14px;
  margin-top: 10px;
}
.main .header a {
  color: #ff5403;
  font-size: 12px;
  cursor: pointer;
}

/* Category */
.category {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  width: 100%;
  /* height: 50px; */
  padding: 10px;
}

.category-item {
  cursor: pointer;
  border-radius: 30px;
  border: 1px solid #eff1f6;
  padding: 10px;
}
.category-item.active {
  color: #ff5403;
  background-color: #ffefe8;
  border: 1px solid #ff5403;
}

.card {
  border: 1px solid #eff1f6;
  border-radius: 18px;
  padding: 20px;
}

.page-view-section {
  margin: 30px 0;
}
.page-view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-view-header span {
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid gray;
  font-size: 10px;
  cursor: pointer;
}

.main-text {
  font-size: 40px;
  font-weight: 700;
  margin: 20px 0;
}

.other-analytics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
  .main {
    margin-left: 280px;
  }
}
@media only screen and (max-width: 800px) {
  .main {
    margin-left: 180px;
  }
  .other-analytics {
    flex-direction: column;
  }
}
@media only screen and (max-width: 700px) {
  .main {
    margin-left: 0px;
  }

  .wrapper {
    overflow-x: auto;
  }
  .category {
    overflow-x: auto;
    width: 500px;
  }
  .category-item {
    /* width: -webkit-fill-available; */
    font-size: 12px;
  }
}
